body {
	background-color:black;
  color:goldenrod;
  text-align: center;
}

h1  {
	font-family: 'IM Fell DW Pica SC';
	border: 3px solid goldenrod;
	padding: 10px;
	
}

h2, h3{
  font-family: 'IM Fell DW Pica SC';
  text-decoration: underline;
  font-weight: bold;
  font-size: 150%;
  display: block;
}


a:link {
  color: goldenrod;
  text-align: center;
}



a:hover {
	color:gold
}

a:active {
	color:red
}

p {
	font-family:'IM Fell DW Pica SC';
  font-style: italic;	
  font-size: 20px;
  margin: none;
}

#textDisplay{
  text-align: left;
  padding-left: 100px ;
}

li{
  display: inline;
  text-align: left;
}


.nav {
	font-family: 'IM Fell DW Pica SC';
	font-size: 200%;
	padding: 20px;
	border: 3px solid goldenrod;
	text-decoration: none;
  color: goldenrod;	
  margin-bottom: 25px;
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'IM Fell DW Pica SC';
    font-size: 25px;
    display: inline;
    float: left;
}

a{
	text-decoration: none;
}



li:hover{
    color: gold;
    cursor: pointer;
    display: inline;
}


.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -webkit-animation-fill-mode: both; 
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
  display: none;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
}

@media only screen and (max-width: 600px){

ul{
  display: block;
  margin-bottom: 20px;
}

h2, p, #baseDisplay, #textDisplay{
  margin: auto; 
  display: block;
  text-align: left;
  font-size: 115%;
  padding: 0px;
}


br{
  display: none
}




}